<md-content layout-padding="" ng-controller="LeftCtrl">
    <div layout="column">
        <!--<a class="md-button md-primary" href="#/intro" ng-click="close()">Introduction</a>-->
        <a class="md-button md-primary" href="#/convert" ng-click="close()">Number to Polynomial</a>
        <a class="md-button md-primary" href="#/view1" ng-click="close()">Calulator</a>
        <a class="md-button md-primary" href="#/view2" ng-click="close()">Inverse Modulus</a>
        <a class="md-button md-primary" href="#/sbox" ng-click="close()">S-Box Derivation</a>
    </div>
</md-content>