<md-content layout-padding="" ng-controller="RightCtrl">
    <div layout="column">
        <md-input-container class="md-block" flex="100">
            <label>Order for Polynomial</label>
            <md-select ng-model="config.field" ng-change="fieldChanged()">
                <md-option ng-repeat="field in fields" value="{{field}}" >
                    {{field}}
                </md-option>
            </md-select>
            <div class="hint" ng-if="primeField.indexOf(config.field.toString())==-1">
                Not a prime Number, division is disabled.
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex="100">
            <label>Radix of Number</label>
            <md-select ng-model="config.displayOption" ng-change="fieldChanged()">
                <md-option ng-repeat="option in displayOptions" value="{{option.value}}" >
                    {{option.text}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-checkbox ng-model="config.enablePolynomialCompute" aria-label="Checkbox 0">
            Compute in GF(2^8) (AES)
        </md-checkbox>
        <div ng-show="config.enablePolynomialCompute">
            The result will be modulus before show
            <div>
                <script type='math/tex'>
                x^8+x^4+x^3+x+1

                </script>
            </div>
            <br>
        </div>
        <md-checkbox ng-model="config.showDetailedSteps" ng-change="fieldChanged()" aria-label="Checkbox 1">
            Show Detailed Calculation Steps
        </md-checkbox>

    </div>
</md-content>