<md-content layout-padding="" ng-controller="RightCtrl">
    <div layout="column">
        <md-input-container class="md-block" flex="100">
            <label>Order for Polynomial</label>
            <md-select ng-model="config.field" ng-change="fieldChanged()">
                <md-option ng-repeat="field in fields" value="{{field}}" >
                    {{field}}
                </md-option>
            </md-select>
            <div class="hint" ng-if="primeField.indexOf(config.field.toString())==-1">
                Not a prime Number, division is disabled.
            </div>
        </md-input-container>
        <md-input-container class="md-block" flex="100">
            <label>Radix of Number</label>
            <md-select ng-model="config.displayOption" ng-change="fieldChanged()">
                <md-option ng-repeat="option in displayOptions" value="{{option.value}}" >
                    {{option.text}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-checkbox ng-model="config.showDetailedSteps" aria-label="Checkbox 1">
            Show Detailed Calculation Steps
        </md-checkbox>
        <div>
        <md-input-container flex>
            <label>External Link</label>
            <input type="text" ng-model="sample" required/>
            <div ng-messages="{'required': !sample}">
                <div ng-message="required">Please enter the External Link</div>
            </div>
        </md-input-container>
        <md-button ng-click="close()" class="md-primary">
            Close Sidenav Left
        </md-button>
        </div>
    </div>
</md-content>